html, body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navigation{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #0e1422;
    width: 100%;
    height: 60px;
}
.navigation div a, .navigation div {
    color: white;
    text-decoration: none;
}
.navigation div {
    margin: 0 20px;
}
.intro{
    background: #19223b;
    height: 100vh;
    display: flex;
    justify-content: left;
    /* align-items: center; */

}
.pic {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.contact{
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-form{
    position: relative;
    background: #19223b;;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
}


.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27%;
    
}
.social-icon, a {
    text-decoration: none;
}
.fillin {
    margin: 100px;
    

}
.area {
    width: 50%;
    height: 30px;
}

.btn {
    background: #19223b;;
    color: white;
    width: 100px;
    height: 30px;
}

.form-horizontal {
    margin: 15%;
    display: block;
    justify-content: space-between;
    align-items: center;
    background:#19223b;;
}

.form-control {
    width: 50%;
    height: 30px;
}
.form {
    background: #19223b;
}
body {
    background:#19223b;;
    color: white;
}
.jumbotron {
    margin:0 40px;
}
.container {
    margin: 0 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.bn {
    width: 200px;
    height: 30px;
     margin: 15px 10px;
     padding: 0 10px;
     text-align: center;
     background-color: #f1f1f1;
     box-shadow: 0  4px 8px 0 rgba(0.2, 0.4, 0.6, 0.8);
     display: flex;
     justify-content: center;
     align-items: center;
    
}

.text {
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
}